<html>
  <head>
    <title>EK&A's Bus Game</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script src="js/wq/lib/require.js" data-main="js/main"></script>
  </head>
  <body>
    <span id="jumps" style="position:fixed;z-index:1000;right:10;top:10;font-weight:bold;font-size:2em;font-family:verdana,sans-serif">
    </span>
    <span id="score" style="position:fixed;z-index:1000;right:10;top:40;font-weight:bold;font-size:1.5em;font-family:'courier',fixed">
    </span>
  </body>
</html>
