<!DOCTYPE html>
<html>
  <head>
    <title>EK&A's Bus Game</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div class="ui-content" role="main">
        <ul data-role="listview" data-inset="true">
          <li><a href="/play">Play</a></li>
          <!--
          <li><a href="/playbg">Play Bus Game</a></li>
          -->
          <li><a href="/edit">Edit</a></li>
          <li><a href="/pointtypes/">Sprites</a></li>
          <li><a href="/themes/">Themes</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
