<!DOCTYPE html>
<html>
  <head>
    <title>EK&A's Bus Game</title>
    {{>head}}
  </head>
  <body>
    <div data-role='page' id="play">
      <span id="jumps" class="score big" style="top:10px:"></span>
      <span id="score" class="score" style="top:40px;"></span>
      <span id="loc" class="score" style="top:60px;"></span>
      <div id="init-panel" class="panel">
         Connecting to server...
      </div>
      <div id='team-list-panel' class="panel">
        <h3>Join Team</h3>
        <ul id='teams'>
        </ul>
        <button id="add-team">Add Team</button>
      </div>
      <div id='team-edit-panel' class="panel">
        <h3>Add Team</h3>
        <p>
          Name: <input>
        </p>
        <div>
          Theme:
          <div id='theme-choices'></div>
        </div>
        <button id='save-team'>Save</button>
      </div>
      <div id='ship-panel' class="panel">
         <h3>Join Game</h3>
         <p>
           Name: <input>
         </p>
         Ship:
         <div id='ship-choices'></div>
        <button id='save-ship'>Go!</button>
      </div>
    </div>
  </body>
</html>
