<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        <a href="/pointtypes/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
      </div>
      <div role="main" class="ui-content">
        <h1>{{label}}</h1>
        <table>
          <tr><th>Name</th><td>{{name}}</td></tr>
          <tr><th>Layout Class</th><td>{{layout_label}}</td></tr>
          <tr><th>Layer</th><td>{{layer_label}}</td></tr>
          {{#replace_with_id}}
          <tr><th>Turns Into</th><td>{{replace_with_label}}</td></tr>
          {{/replace_with_id}}
          {{#theme}}
          <tr><th>Theme</th><td>{{theme_label}}</td></tr>
          {{/theme}}
        </table>
        <img src="/media/{{path}}">
        {{#theme}}
        <div data-role="collapsible">
          <h3>Alternate Themes</h3>
        {{#themes}}
          <div style="float:left;margin:1em;text-align:center">
            <h4>{{label}}</h4>
            <img src="/media/{{id}}/{{path}}">
          </div>
        {{/themes}}
          <div style="clear:both;"></div>
        {{/theme}}
      </div>
    </div>
  </body>
</html>

