<!DOCTYPE html>
<html>
  <head>
    <title>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} </title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Example</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="/pointtypes/{{id}}" method="post" data-ajax="false"
            data-wq-json="true" data-wq-background-sync="false">
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview">
            <li>
              <label for="code">Code</label>
              <input name="code" id="code" value="{{code}}">
              <p class="error pointtype-code-errors"></p>
            </li>
            <li>
              <label for="name">Name</label>
              <input name="name" id="name" value="{{name}}">
              <p class="error pointtype-name-errors"></p>
            </li>
            <li>
              <label for="layout_id">Layout Class</label>
              <select id="layout_id" name="layout_id">
                <option value="">Select one...</option>
                {{#layout_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>{{label}}</option>
                {{/layout_list}}
              </select>
              <p class="error pointtype-layout_id-errors"></p>
            </li>
            <li>
              <label for="interval">Interval</label>
              <input name="interval" id="interval" type="tel" value="{{interval}}">
              <p class="error pointtype-interval-errors"></p>
            </li>
            <li>
              <label for="layer">Layer</label>
              <select id="layer" name="layer">
                <option value="">Select one...</option>
                {{#layer_choices}}
                <option value="{{value}}"{{#selected}} selected{{/selected}}>{{label}}</option>
                {{/layer_choices}}
              </select>
              <p class="error pointtype-layer-errors"></p>
            </li>
            <li>
              <label for="replace_with_id">Turns Into</label>
              <select id="replace_with_id" name="replace_with_id">
                <option value="">Select one...</option>
                {{#replace_with_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>{{label}}</option>
                {{/replace_with_list}}
              </select>
              <p class="error pointtype-replace_with_id-errors"></p>
            </li>
            <li>
              <label for="theme_id">Theme</label>
              <select id="theme_id" name="theme_id">
                <option value="">Select one...</option>
                {{#theme_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>{{label}}</option>
                {{/theme_list}}
              </select>
              <p class="error pointtype-theme-errors"></p>
            </li>
            <li>
              <label for="value">Score</label>
              <input name="value" id="value" type="tel" value="{{value}}">
              <p class="error pointtype-value-errors"></p>
            </li>
            {{#layout}}
            {{#has_variants}}
            <li>
              {{#has_transform_variants}}
              <p>
              <button type="button" data-mini="true" data-inline="true"
              onclick="$(this).parents('li').find('input, label').show();">Show All</button>
              </p>
              {{/has_transform_variants}}
              <fieldset data-role="controlgroup" data-type="horizontal">
                <legend>Variant</legend>
                {{#variants}}
                <label for="variant-{{code}}"
                  {{#transform_type}}style="display:none;"{{/transform_type}}>{{code}}</label>
                <input type="radio" id="variant-{{code}}" name="variant"
                  {{#transform_type}}style="display:none;"{{/transform_type}}
                  value="{{code}}"
                  {{^@index}}checked{{/@index}}>
                {{/variants}}
              </fieldset>
            </li>
            {{/has_variants}}
            {{/layout}}
            <li>
              <fieldset data-role="controlgroup" data-type="horizontal"
                  data-mini="true" style="float:right">
                <label for=brush0>&#9642;</label>
                <input type=radio name=brush id=brush0 value=0 checked>
                <label for=brush1>&#11035;</label>
                <input type=radio name=brush id=brush1 value=1>
                <label for=brush2>&#x2592;</label>
                <input type=radio name=brush id=brush2 value=2>
              </fieldset>
              <input
                 data-role="none"
                 id="current-color"
                 type="color"
                 style="padding:0px;margin-right:1em;border:1px solid black;width:50px;height:48px;float:left;"
              >
              {{#theme}}
                {{>theme_primary}}
                {{>theme_secondary}}
                <br>
              {{/theme}}
              <span class="theme-square" style="background-color:black"></span>
              <span class="theme-square" style="background-color:white"></span>
              <span class="theme-square" style="background-color:transparent"></span>
              <button type="button" data-iconpos="notext" data-icon="search" id="pick-color" data-inline="true">Pick</button>
            </li>
            <li>
              <input type="hidden" data-wq-type="file" name="path">
              {{#path.name}}
              <img src="{{image_url}}">
              {{/path.name}}
              {{^path.name}}
              <div class="draw">
                <img src="/media/{{path}}">
              </div>
              {{/path.name}}
              <p class="error pointtype-path-errors"></p>
            </li>
            <li>
              <button type="button" id="mirror-ltr" data-icon="arrow-r" data-iconpos="notext" data-inline="true"></button>
              <button type="button" id="mirror-ttb" data-icon="arrow-d" data-iconpos="notext" data-inline="true"></button>
            <li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="/pointtypes/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </a>
                </div>
              </div>
              <p class="error pointtype-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>

